<div class="ui stackable two column grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular plus icon"></i>
            <div class="content">
                New Administration role
            </div>
        </h1>
    </div>
</div>

{#<div class="ui breadcrumb">#}
    {#<a href="/admin/" class="section">Administration</a>#}
    {#<i class="right chevron icon divider"></i>#}
    {#<a href="/admin/administration-roles/" class="section">Administration roles</a>#}
    {#<i class="right chevron icon divider"></i>#}
    {#<div class="active section">New</div>#}
{#</div>#}




{#</div>#}
{#<div class="middle aligned column">#}
{#</div>#}
{#</div>#}
